<configuration>
	<connectionStrings>
		<add name="RestaurantDB" connectionString="Host=localhost;Database=restaurant_database;Username=postgres;Password=coxmobil" providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="MenuDiscountPercentage" value="10" />
		<add key="MinimumOrderForFreeDelivery" value="50" />
		<add key="DeliveryFee" value="5" />
		<add key="MinimumOrderForDiscount" value="100" />
		<add key="OrderDiscountPercentage" value="5" />
		<add key="OrderCountForLoyaltyDiscount" value="5" />
		<add key="DaysForLoyaltyDiscountPeriod" value="30" />
		<add key="LowStockThreshold" value="5" />
	</appSettings>
</configuration>